.card {
    --bs-card-bg: var(--bg-card);
    --bs-card-title-color: var(--bs-body-color);
    --bs-card-border-color: var(--surface-border);
    --bs-card-border-width: 1px;
    --bs-card-border-radius: var(--radius-md);
    --bs-card-cap-bg: transparent;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
}
