:root {

    --bg-darker: #F9F3E6;
    --bg: #121C2D;
    --bg-light: hsl(0, 0%, 10%);

    --bs-body-color: #F5F7FA;
    --bs-secondary-color: hsl(0, 0%, 40%);

    --bs-body-bg: #0B1320;
    --bs-border-color-translucent: hsl(0, 0%, 30%);

    --bs-primary: #064B73;
}

body[data-theme="light"] {
    --bg-darker: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);

    --bs-body-color: hsl(0, 0%, 5%);
    --bs-secondary-color: hsl(0, 0%, 30%);
    --bs-border-color-translucent: hsl(0, 0%, 70%);
}
