#movie-page {
    padding-top: 2rem;
}

#movie-page .icon {
    font-size: 1.5rem;
    color: #f7d354;
}

#movie-page .movie-card {
    text-align: center;
}

#movie-page .movie-card img,
#movie-page .movie-card h2,
#movie-page .movie-card p {
    margin-bottom: 1rem;
}

#movie-page .movie-card h2 {
    font-size: 2rem;
}

#movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

#movie-page .tagline {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 100;
}

#movie-page .list-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

#movie-page .info {
    background-color: #1a1a1a;
    padding: 0.75rem 1.25rem;
    border-radius: 3px;
}

#movie-page .info h5 {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#movie-page .info p {
    margin-bottom: 0;
}

#movie-page .description p {
    line-height: 1.4rem;
}

#movie-page .credit-container:last-child {
    margin-bottom: 0;
}

#movie-page .movie-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#movie-page .genres {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

#movie-page .genres .genre {
    font-size: 0.875rem;
    font-weight: 300;
}
