#movie-page {
    padding-top: 2rem;
}

#movie-page svg.icon {
    font-size: 1.5rem;
    color: #f7d354;
}

#movie-page .movie-card {
    text-align: center;
}

#movie-page .movie-card img,
#movie-page .movie-card h2,
#movie-page .movie-card p {
    margin-bottom: 1rem;
}

#movie-page .movie-card h2 {
    font-size: 2rem;
}

#movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

#movie-page .tagline {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 100;
}

#movie-page .list-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

#movie-page .info {
    background-color: #1a1a1a;
    padding: 0.75rem 1.25rem;
    border-radius: 3px;
}

#movie-page .info h5 {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#movie-page .info p {
    margin-bottom: 0;
}

#movie-page .description p {
    line-height: 1.4rem;
}

#movie-page .credit {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#movie-page .credit-container {
    --bs-gutter-y: 1.5rem;
    margin-bottom: 1.5rem;
}

#movie-page .credit-container:last-child {
    margin-bottom: 0;
}

#movie-page .credit-card {
    height: 100%;

    --bs-card-bg: #1a1a1a;
    --bs-card-border-radius: 0;
    --bs-card-border-width: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-subtitle-color: #ffffff94;
}

#movie-page .credit-card .img-wrapper {
    --bs-aspect-ratio: calc(3 / 2 * 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

#movie-page .credit-card .card-img-top {
    max-width: 100%;
    height: auto;
}

#movie-page .credit-card .card-title {
    height: 3rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.25rem;
}

#movie-page .credit-card .card-subtitle {
    font-style: italic;
    font-size: 1rem;
}
