.btn-primary {
    --bs-btn-color: #f7d354;
    --bs-btn-bg: #ffffff25;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #f7d354;
    --bs-btn-hover-bg: #ffffff50;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #f7d354;
    --bs-btn-active-bg: #ffffff50;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f7d35450;
    --bs-btn-disabled-bg: #ffffff10;
    --bs-btn-disabled-border-color: transparent;
}

html {
    font-size: var(--font-size);
}

:root {
    --font-size: 12px;
    --bs-body-bg: #000;
    --bs-body-color: #fff;
    --bs-body-font-family: "Roboto", sans-serif;

    --header-heiht: 4.75rem;
}

@media only screen and (min-width: 576px) {
    :root {
        --font-size: 13px;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --font-size: 16px;
    }
}

@media only screen and (min-width: 1400px) {
}
