@import "./tokens/breakpoints.css";
@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/motion.css";
@import "./tokens/shadows.css";
@import "./tokens/button.css";
@import "./tokens/card.css";

.nav-link {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    border-bottom: 2px solid #cde59a;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    z-index: 1;
}


.movie-slide .splide__slide {
    margin-bottom: 4rem;
}