#homepage {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block: 3rem;
}

.trending-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button.best-movies-genre {
    font-size: 2rem;
    line-height: 1.1;
}
